.dropdown {
    width: calc(100% - 30px);
    background: none;
    font-family: Oswald;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 14pt;
    border: none;
}

.dropdown:focus {
    outline: none;
}

.dropdown option {
    background: #666;
}