body {
    background: rgb(235, 235, 235);
    font-family: Oswald;
    margin: 0;
}

#head {
    text-align: center;
    margin-top: 200px;

}

#meet {
    width: 100%;
    text-align: center;
    height: 30vh;
}

#instrukcja {
    margin: 0 20vw;
}

#sponsors {
    margin-top: 50px;
    padding: 50px 20vw;
    background: #fff;
    text-align: center;
}

#sponsors img {
    max-height: 200px;
    width: auto;
}

#sponsors .single {
    margin-bottom: 50px;
}

#sponsors .double {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#sponsors .double img {
    margin: auto;
}

.button, ul.menu {
    text-align: center;
}

.button {
    margin-top: 30px;
    display: inline-block;
    color: #fff;
    background: rgb(239, 125, 0);
    text-decoration: none;
    font-size: 24pt;
    padding: 10px 15px;
}

ul.menu {
    list-style-type: none;
    margin-top: 30px;
}

ul.menu li {
    display: inline-block;
    color: #000;
    padding: 20px;
}

ul.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 18pt;
}

ul, p {
    font-weight: 300;
    font-size:16pt;
}

.inst {
    margin-bottom: 15px;
}


.logo {
    width: 18vw;
    padding: 1.5vw 2vw;
    background: #fff;
    position: absolute;
    top: 0px;
    left: calc(50% - 10vw);
}

.logo img {
    width: 100%;
}