.watermark {
    background-image: none !important;
}

.chrome-extension-banner {
    display: none !important
}

#localVideoTileViewContainer {
    display: none;
}

body {
    background: none !important;
}

#react div {
    background: none !important;
}

.display-avatar-only {
    background: rgba(0,0,0,0.3);
}

.vertical .tile-view #filmstripRemoteVideosContainer .videocontainer {
    height: 150px !important;
    min-height: 150px !important;
}

.arrows {
    z-index: 10;
    color: #fff;
    position: absolute;
    bottom: 3px;
    left: 45%;
    display: none;
}
.videocontainer:hover .arrows {
    display: block;
}
.arrows a {
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    width: 15px;
    text-align: center;
    font-size: 12pt;
}

.names-captions {
    z-index: 10;
    color: #fff;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    text-shadow: 0 0 5px #000;
}

.indicator {
    width: 40px !important;
    height: 40px !important;
}

.indicator svg {
    width: 20px !important;
    height: 20px !important;
}