body {
    margin: 0;
    background: no-repeat top center;
    background-image: url('nsa-korytarz.jpg');
    background-color: rgb(48,62,71);
    background-blend-mode: luminosity;
}

header {
    height: 20vh;
}

h1, textarea {
    font-family: Oswald;
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

textarea {
    width: calc(100% - 11vh);
    margin: 5vh;
    background: none;
    border: none;
    height: 6em;
}

textarea:focus {
    outline: none;
}

#logotypy {
    background: #fff;
    padding: 30px 5vh 0 5vh;
    text-align:center;
    position: absolute;
    bottom: 0;
}

#logotypy img {
    max-width: 250px;
    max-height: 120px;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.logo {
    width: 18vw;
    padding: 1.5vw 2vw;
    background: #fff;
    position: absolute;
    top: 0px;
    left: calc(50% - 10vw);
}

.logo img {
    width: 100%;
}

.agenda {
    float: right;
    margin: 1em 1em 0 0;
}

.agenda .dropdown {
    width: 35vw;
}