body {
    margin: 0;
    background: no-repeat center top url('background.jpg');
    overflow: hidden;
}

h1, .form {
    font-family: Oswald;
    color: #fff;
    text-align: center;
    margin-left: 30px;
    text-shadow: 0 0 5px #000
}

h1 {
    margin: 10px;
}


.logo {
    width: 18vw;
    padding: 1.5vw 2vw;
    background: #fff;
    top: 0px;
    margin-left: calc(50% - 10vw);
}

.logo img {
    width: 100%;
}

.form {
    margin: 0 5vw;
    text-align: left;
    font-size: 14pt;
}

.in-form {
    /* height: 27vh; */
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.schools {
    margin-bottom: 10px;
}

.in-form ol {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.video {
    height: 40vh;
}
