body {
    background: rgb(235, 235, 235);
    font-family: Oswald;
    margin: 0;
}

header h1, header h2 {
    text-align: center;
}

#meet {
    height: 60vh;
}

.logo {
    width: 18vw;
    padding: 1.5vw 2vw;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 10vw);
}

.logo img {
    width: 100%;
}