body {
    margin: 0;
    background: no-repeat center top url('background.jpg');
    font-family: Oswald;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #000000;
    overflow: hidden;
}

header {
    width: 100%;
    height: 130px;
}

.vertical {
    display: inline-block;
    width: 24%;
    height: 640px;
    vertical-align: top;
}

.central {
    display: inline-block;
    width: 50%;
    height: 640px;
    vertical-align: top;
}

.propo {
    float: left;
    margin-left: 2vw;
    width: 36vw;
    text-align: left;
}

.opo {
    float: right;
    margin-right: 2vw;
    width: 35vw;
    text-align: right;
}

.opo select {
    text-align-last: right
}

.logo {
    width: 18vw;
    padding: 1.5vw 2vw;
    background: #fff;
    position: absolute;
    top: 0px;
    left: calc(50% - 10vw);
}

.logo img {
    width: 100%;
}

h1 {
    margin-bottom: 0;
}

#timer {
    font-size: 36pt;
    opacity: 1;
    transition: opacity 0.5s;
}

#timer.protected {
    color: #ff5555;
}

#timer.fade {
    opacity: 0;
}

.buttons {
    font-size: 8pt;
    cursor: pointer;
}